
/vendor/
sites/*/settings*.php
sites/*/services*.yml
#sites/*/files
#sites/*/private
sites/default/files/php/ 

# Ignore multi-site test environment.
sites/simpletest

# Ignore configuration files that may contain sensitive information.
 */settings*.php

# Ignore paths that contain user-generated content.
# */files
# */private

core
libraries
themes/contrib
modules/contrib
docker/etc
src/tmp
nc_assets
**/.DS_Store

node_modules
.vscode
/backups
/vendor
config/sync/config_split.config_split.local.yml
config/envs/local/
*.http
.csslintrc
.editorconfig
.gitattributes
.htaccess
README.md
error_log