div[id^="edit-field-page-elements"] .paragraphs-subform .field--widget-options-select.paragraphs-content {
  float: left;
  padding-right: 15px;
}
.field-multiple-drag.paragraph-bullet,.paragraphs-badge {
  display: none !important;
}

tr.draggable.paragraph-type--media-element td {
  padding-left: 20px;
}

.js .paragraph-type-label,.js .paragraph-type {
  overflow: visible !important;
  /*font-size: 1.15em;*/
}
.js-form-type-textarea {
  clear: both;
}
nav.tabs-wrapper.tabs-primary.is-collapsible {
  z-index: 1100;
  position: relative;
  background-color: #000;
}
